$custom-switch-width: 2rem !default;
$custom-control-indicator-border-color: $primaryColor;
$custom-control-indicator-bg: $neutralColor;
$custom-control-indicator-size: 1rem !default;
$custom-switch-indicator-border-radius: 15px !default;
