/*!
 * @author: tvc12 - Thien Vi
 * @created: 6/16/21, 3:07 PM
 */

// Common
$default-text-color: #fff;
$default-background-color: #333645;

// Header

$default-header-color: #ffffffcc;
$default-header-background-color: #4a506a;
$default-header-font-family: 'Barlow';
$default-header-font-size: 12px;
$default-header-white-space: nowrap;
$default-header-text-align: left;
// Row
$default-row-even-color: rgba(255, 255, 255, 0.8);
$default-row-even-background-color: #2f3240;

$default-row-odd-color: rgba(255, 255, 255, 0.8);
$default-row-odd-background-color: #272a36;

$default-row-font-size: 12px;
$default-row-font-family: 'Barlow';
$default-row-white-space: nowrap;
$default-row-text-align: left;

// footer
$default-footer-background-color: #2f3240;
$default-footer-text-color: rgba(255, 255, 255, 0.8);
$default-footer-text-align: left;
$default-footer-font-size: 12px;
$default-footer-white-space: nowrap;
$default-footer-font-family: 'Barlow';

// tooltip
$default-tooltip-background-color: #2f3240;
$default-tooltip-color: #fff;
$default-tooltip-font-size: 12px;
$default-tooltip-font-family: 'Barlow';
